# Logs y caché
node_modules/
.pnp
.pnp.js
.yarn/

# Archivos de compilación / build
dist/
dist-ssr/
build/
*.local

# Variables de entorno secretas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema u editor
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?